@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary-fixed-dim: #a2d2ff;
    --color-on-surface-variant: #373942;
    --color-on-primary-fixed-variant: #004b73;
    --color-background: #f7f9fb;
    --color-tertiary: #002e44;
    --color-inverse-on-surface: #eff1f3;
    --color-error: #ba1a1a;
    --color-surface-container: #eceef0;
    --color-surface-container-low: #f2f4f6;
    --color-surface-tint: #0077B6;
    --color-on-primary-container: #90daff;
    --color-on-background: #191c1e;
    --color-on-tertiary-fixed-variant: #004c6e;
    --color-secondary-fixed-dim: #4ae176;
    --color-inverse-surface: #2d3133;
    --color-surface-container-high: #e6e8ea;
    --color-on-secondary-fixed-variant: #005321;
    --color-surface-bright: #f7f9fb;
    --color-on-error-container: #93000a;
    --color-on-surface: #191c1e;
    --color-on-secondary: #ffffff;
    --color-on-secondary-container: #007432;
    --color-secondary-container: #6bff8f;
    --color-surface: #f7f9fb;
    --color-tertiary-fixed-dim: #89ceff;
    --color-on-tertiary: #ffffff;
    --color-on-tertiary-fixed: #001e2f;
    --color-surface-variant: #e0e3e5;
    --color-on-secondary-fixed: #002109;
    --color-on-error: #ffffff;
    --color-inverse-primary: #a2d2ff;
    --color-outline: #757682;
    --color-on-tertiary-container: #36b6fb;
    --color-surface-container-lowest: #ffffff;
    --color-tertiary-container: #004565;
    --color-primary-fixed: #d0ecff;
    --color-surface-dim: #d8dadc;
    --color-primary: #0077B6;
    --color-primary-container: #005c8d;
    --color-on-primary: #ffffff;
    --color-surface-container-highest: #e0e3e5;
    --color-on-primary-fixed: #001e30;
    --color-outline-variant: #c5c5d3;
    --color-secondary: #006e2f;
    --color-error-container: #ffdad6;
    --color-secondary-fixed: #6bff8f;
    --color-tertiary-fixed: #c9e6ff;

    --font-headline: 'Manrope', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-label: 'Inter', sans-serif;

    --radius-default: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4 {
    font-family: var(--font-headline);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    color: transparent;
}

.wf-active .material-symbols-outlined,
.fonts-loaded .material-symbols-outlined {
    color: inherit;
}

.glass-nav {
    backdrop-filter: blur(20px);
}
